* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}


.right{
  float: right;
  position: relative;
  top: 7px;
}

/*Clases generales*/

body, html, section {
  height: 100%;
  width: 100%
}

.text-blue-miranda {
  color: rgb( 65, 85, 99);
}

.text-gold-amado {
  color: rgb(213, 120, 0)
}

.show {
  display: block;
}

.hide {
  display: none;
}

/*nav*/

.navbar {

background-color: rgb( 65, 85, 99); 
}  


.navbar-toggler {
  background-color: #fff;
  border-color: #ffffff !important;
}


/*Filtro */

.form-control {
  width: 100%;
}

.filtro {
  text-align: left;
  width: 75%;
}

.filtro-arrow {
  width: 25%;
}

.grupo-filtro {
  width: 100%;
}

.filtro, .filtro-arrow .busqueda, .btn-filtro, .btn-comparar {
  background-color: rgb(213, 120, 0);
  color: #ffffff;
  border: none;
}

.btn-border{
  background-color: white;
  border: 2px solid rgb(213, 120, 0);
  color: rgb(213, 120, 0);
}

.filtro-menu {
  min-width: 100%;
}


.btn-filtro {
  margin: 1em 0 1em 0; 
}

.custom-checkbox {
  margin-left: 5px;
}

/*Imagen*/

.img-mobile {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 30vh;
  background-size: cover;
  background-repeat: no-repeat; 
  background-image: url("../assets/images/law.jpg");
}

.back-gris {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 30vh;
  background-color: rgba(213, 120, 0, 0.2);
}

.img-mobile p {
  font-size: 18px;
  width: 70%;
  margin-left: 1em;
  
}

/*Botones de agregar convenio y comparación*/

.display-container {
  margin-top: 15px;
  display: flex;
  justify-content: flex-end;  
}

.icon-plus {
  font-size: 40px;
  color: rgb( 65, 85, 99);
  margin-right: 1em;
}

.float-r{
  float: right;;
}
.over{
  overflow: auto;
}
.show {
  display: block;
}

.hide {
  display: none;
}


@media (min-width: 992px) { 

  .navbar {
    background-color: rgb( 65, 85, 99);
  }

  .img-mobile{
    height: 45vh;
  }
  .img-mobile p{
    font-size: 23px;
  }
  
/*Logotipo*/

.logo-white {
  width: 35%;
  
}

}  
.mostazaborder{
  background-color: #d57800;
  color: white;
  padding: 5px;
}

.whiteborder{
  background-color: white;
  color: #415563;
  border: 2px solid #d57800;
}



