.token-input-list-bootstrap{
    overflow: hidden;
      height: auto;
      border: 1px solid #ccc;
      border-radius: 4px;
      cursor: text;
      margin: 0;
      padding: 0;
      background-color: #fff;
      list-style-type: none;
    }
    
    ul.token-input-list-bootstrap li input {
        border: 0;
        width: 250px !important;
        padding: 3px 8px;
        background-color: white;
        margin: 2px 0;
        width: 16em;
      }
      
      li.token-input-token-bootstrap {
        overflow: hidden;
        height: auto ;
        margin: 3px;
        padding: 1px 5px;
        cursor: default;
        border: 1px solid ;
        font-size: 13px;
        border-radius: 3px;
        float: left;
        white-space: nowrap;
        
      }
      
      li.token-input-token-bootstrap p {
        display: inline;
        padding: 0;
        margin: 0;
      }
      
      li.token-input-token-bootstrap span {
        color: #a6b3cf;
        margin-left: 5px;
        font-weight: bold;
        cursor: pointer;
      }
      
      li.token-input-selected-token-bootstrap {
        background-color: #fff;
    
      }
      
      li.token-input-input-token-bootstrap {
        float: left;
        margin: 0;
        padding: 0;
        list-style-type: none;
      }
      
      div.token-input-dropdown-bootstrap {
        position: absolute;
        background-color: #fff;
        overflow: hidden;
        border-left: 1px solid #ccc;
        border-right: 1px solid #ccc;
        border-bottom: 1px solid #ccc;
        cursor: default;
        z-index: 1;
    }
      
      div.token-input-dropdown-bootstrap p {
        margin: 0;
        padding: 5px;
        color: gray;
      }
      
      div.token-input-dropdown-bootstrap ul {
        margin: 0;
        padding: 0;
      }
      
      div.token-input-dropdown-bootstrap ul li {
        list-style-type: none;
        display: block;
        padding: 3px 15px;
        clear: both;
        font-weight: normal;
       white-space: nowrap;
      }
      
      div.token-input-dropdown-bootstrap ul li.token-input-dropdown-item-bootstrap {
        background-color: white;
      }
      
      div.token-input-dropdown-bootstrap ul li.token-input-dropdown-item2-bootstrap {
        background-color: white;
      }
      
      div.token-input-dropdown-bootstrap ul li em {
        font-weight: bold;
        font-style: normal;
      }
      
      div.token-input-dropdown-bootstrap ul li.token-input-selected-dropdown-item-bootstrap {
        background-color:#eeeeee;
      }