<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://cdn.rawgit.com/twbs/bootstrap/48938155eb24b4ccdde09426066869504c6dab3c/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="css/main.css">
  <script src="https://unpkg.com/jspdf@latest/dist/jspdf.min.js"></script>
  <script src="../vendors/canvas/html2canvas.min.js"></script>
  <title>JSPDF</title>
</head>
<body>
<header>
  <h1>jsPDF Demos</h1>
  <div id="proof">
    <p>Hola, me transformaré de HTML a PDF</p>
    <p>TEST</p>
  </div>
  <a onClick="javascript: genPDF()">Download PDF</a>
</header>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="../js/report.js"></script>
</body>
</html>
